{% extends 'landing/index.html' %}
{% load static %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}

      <!-- Hero -->
      <section class="position-relative pt-5">

        <!-- Background -->
        <div class="position-absolute top-0 start-0 w-100 bg-position-bottom-center bg-size-cover bg-repeat-0" style="background-image: url({% static 'landing/images/hero-bg.svg' %});">
          <div class="d-lg-none" style="height: 960px;"></div>
          <div class="d-none d-lg-block" style="height: 768px;"></div>
        </div>

        <!-- Content -->
        <div class="container position-relative zindex-5 pt-5">
          <div class="row">
            <div class="col-lg-6">
              
              <!-- Breadcrumb -->
              <nav class="pt-md-2 pt-lg-3 pb-4 pb-md-5 mb-xl-4" aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item">
                    <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Главная</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">О нас</li>
                </ol>
              </nav>

              <!-- Text -->
              <h1 class="pb-2 pb-md-3">О Kinza</h1>
              <p class="fs-xl pb-4 mb-1 mb-md-2 mb-lg-3" style="max-width: 526px;">Мы — преданная своему делу команда увлеченных менеджеров по продуктам, разработчиков полного цикла, дизайнеров UX/UI, инженеров по обеспечению качества и экспертов по маркетингу, которые помогают предприятиям любого размера — от новых стартапов до публичных компаний — запускать свои проекты с использованием нашего программного обеспечения.</p>
            </div>

            <!-- Images -->
            <div class="col-lg-6 mt-xl-3 pt-5 pt-lg-4">
              <div class="row row-cols-2 gx-3 gx-lg-4 w-100 h-100">
                  <img src="{% static 'services/images/dashboard.png' %}" class="d-block rounded-3 mb-3 mb-lg-4 w-100" alt="Image">
              </div>
            </div>
          </div>
        </div>
      </section>

      
      <!-- Benefits (features) -->
      <section class="container mt-3 mb-5 pt-lg-5" id="benefits">
        <div class="swiper pt-3 swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden" data-swiper-options="{
          &quot;slidesPerView&quot;: 1,
          &quot;pagination&quot;: {
            &quot;el&quot;: &quot;.swiper-pagination&quot;,
            &quot;clickable&quot;: true
          },
          &quot;breakpoints&quot;: {
            &quot;500&quot;: {
              &quot;slidesPerView&quot;: 2
            },
            &quot;991&quot;: {
              &quot;slidesPerView&quot;: 3
            }
          }
        }">
          {% block solutions %}{{ block.super }}{% endblock %}

          <!-- Pagination (bullets) -->
          <div class="swiper-pagination position-relative pt-2 pt-sm-3 mt-4 swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-lock"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
      </section>


      <!-- Awards -->
      <section class="container mb-5 pb-3 pb-md-4 pb-lg-5">
        
      </section>
      

      <!-- Testimonials -->
      <section class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="card h-100 border-0 overflow-hidden px-md-4">
              <span class="bg-gradient-primary position-absolute top-0 start-0 w-100 h-100 opacity-10 d-none d-md-block"></span>
              <div class="card-body d-flex flex-column align-items-center justify-content-center position-relative zindex-2 p-0 pb-2 p-lg-4">
                <h2 class="h1 text-center text-md-start p-lg-4">Что говорят клиенты</h2>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="card border-0 shadow-sm p-4 p-xxl-5">
              <div class="d-flex justify-content-between pb-4 mb-2">
                <span class="btn btn-icon btn-primary btn-lg shadow-primary pe-none">
                  <i class="bx bxs-quote-left"></i>
                </span>
                <div class="d-flex">
                  <button type="button" id="testimonials-prev" class="btn btn-prev btn-icon btn-sm me-2" aria-label="Previous slide" tabindex="0" aria-controls="swiper-wrapper-f1d107f87d392768a">
                    <i class="bx bx-chevron-left"></i>
                  </button>
                  <button type="button" id="testimonials-next" class="btn btn-next btn-icon btn-sm ms-2" aria-label="Next slide" tabindex="0" aria-controls="swiper-wrapper-f1d107f87d392768a">
                    <i class="bx bx-chevron-right"></i>
                  </button>
                </div>
              </div>
              
              <!-- Slider -->
              <div class="swiper mx-0 mb-md-n2 mb-xxl-n3 swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden" data-swiper-options="{
                &quot;spaceBetween&quot;: 24,
                &quot;loop&quot;: true,
                &quot;pagination&quot;: {
                  &quot;el&quot;: &quot;.swiper-pagination&quot;,
                  &quot;clickable&quot;: true
                },
                &quot;navigation&quot;: {
                  &quot;prevEl&quot;: &quot;#testimonials-prev&quot;,
                  &quot;nextEl&quot;: &quot;#testimonials-next&quot;
                }
              }">
                <div class="swiper-wrapper" id="swiper-wrapper-f1d107f87d392768a" aria-live="polite" style="transition-duration: 0ms; transform: translate3d(-674px, 0px, 0px);"><div class="swiper-slide h-auto swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="2" style="width: 650px; margin-right: 24px;" role="group" aria-label="3 / 3">
                    <figure class="card h-100 position-relative border-0 bg-transparent">
                      <blockquote class="card-body p-0 mb-0">
                        <p class="fs-lg mb-0">Ac at sed sit senectus massa. Massa ante amet ultrices magna porta tempor. Aliquet diam in et magna ultricies mi at. Lectus enim, vel enim egestas nam pellentesque et leo. Elit mi faucibus laoreet aliquam pellentesque sed aliquet integer massa. Orci leo tortor ornare.</p>
                      </blockquote>
                      <figcaption class="card-footer border-0 d-flex align-items-center w-100 pb-2">
                        <img src="./About v.1_files/11.jpg" width="60" class="rounded-circle" alt="Darrell Steward">
                        <div class="ps-3">
                          <h6 class="fw-semibold lh-base mb-0">Darrell Steward</h6>
                          <span class="fs-sm text-muted">Project Manager at Ipsum Ltd.</span>
                        </div>
                      </figcaption>
                    </figure>
                  </div>

                  <!-- Item -->
                  <div class="swiper-slide h-auto swiper-slide-active" data-swiper-slide-index="0" style="width: 650px; margin-right: 24px;" role="group" aria-label="1 / 3">
                    <figure class="card h-100 position-relative border-0 bg-transparent">
                      <blockquote class="card-body p-0 mb-0">
                        <p class="fs-lg mb-0">Mi semper risus ultricies orci pulvinar in at enim orci. Quis facilisis nunc pellentesque in ullamcorper sit. Lorem blandit arcu sapien, senectus libero, amet dapibus cursus quam. Eget pellentesque eu purus volutpat adipiscing malesuada. Purus nisi, tortor vel lacus.</p>
                      </blockquote>
                      <figcaption class="card-footer border-0 d-flex align-items-center w-100 pb-2">
                        <img src="./About v.1_files/14.jpg" width="60" class="rounded-circle" alt="Annette Black">
                        <div class="ps-3">
                          <h6 class="fw-semibold lh-base mb-0">Annette Black</h6>
                          <span class="fs-sm text-muted">Strategic Advisor at Company LLC</span>
                        </div>
                      </figcaption>
                    </figure>
                  </div>

                  <!-- Item -->
                  <div class="swiper-slide h-auto swiper-slide-next" data-swiper-slide-index="1" style="width: 650px; margin-right: 24px;" role="group" aria-label="2 / 3">
                    <figure class="card h-100 position-relative border-0 bg-transparent">
                      <blockquote class="card-body p-0 mb-0">
                        <p class="fs-lg mb-0">Vestibulum nunc lectus auctor quis. Natoque lectus tortor lacus, eu. Nunc feugiat nisl maecenas nulla hac morbi. Vitae, donec facilisis sed nunc netus. Venenatis posuere faucibus enim est. Vel dignissim morbi blandit morbi tellus. Arcu ullamcorper quis enim.</p>
                      </blockquote>
                      <figcaption class="card-footer border-0 d-flex align-items-center w-100 pb-2">
                        <img src="./About v.1_files/13.jpg" width="60" class="rounded-circle" alt="Ralph Edwards">
                        <div class="ps-3">
                          <h6 class="fw-semibold lh-base mb-0">Ralph Edwards</h6>
                          <span class="fs-sm text-muted">Head of Marketing at Lorem Ltd. </span>
                        </div>
                      </figcaption>
                    </figure>
                  </div>

                  <!-- Item -->
                  <div class="swiper-slide h-auto swiper-slide-duplicate-prev" data-swiper-slide-index="2" style="width: 650px; margin-right: 24px;" role="group" aria-label="3 / 3">
                    <figure class="card h-100 position-relative border-0 bg-transparent">
                      <blockquote class="card-body p-0 mb-0">
                        <p class="fs-lg mb-0">Ac at sed sit senectus massa. Massa ante amet ultrices magna porta tempor. Aliquet diam in et magna ultricies mi at. Lectus enim, vel enim egestas nam pellentesque et leo. Elit mi faucibus laoreet aliquam pellentesque sed aliquet integer massa. Orci leo tortor ornare.</p>
                      </blockquote>
                      <figcaption class="card-footer border-0 d-flex align-items-center w-100 pb-2">
                        <img src="./About v.1_files/11.jpg" width="60" class="rounded-circle" alt="Darrell Steward">
                        <div class="ps-3">
                          <h6 class="fw-semibold lh-base mb-0">Darrell Steward</h6>
                          <span class="fs-sm text-muted">Project Manager at Ipsum Ltd.</span>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                <div class="swiper-slide h-auto swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" role="group" aria-label="1 / 3" style="width: 650px; margin-right: 24px;">
                    <figure class="card h-100 position-relative border-0 bg-transparent">
                      <blockquote class="card-body p-0 mb-0">
                        <p class="fs-lg mb-0">Mi semper risus ultricies orci pulvinar in at enim orci. Quis facilisis nunc pellentesque in ullamcorper sit. Lorem blandit arcu sapien, senectus libero, amet dapibus cursus quam. Eget pellentesque eu purus volutpat adipiscing malesuada. Purus nisi, tortor vel lacus.</p>
                      </blockquote>
                      <figcaption class="card-footer border-0 d-flex align-items-center w-100 pb-2">
                        <img src="./About v.1_files/14.jpg" width="60" class="rounded-circle" alt="Annette Black">
                        <div class="ps-3">
                          <h6 class="fw-semibold lh-base mb-0">Annette Black</h6>
                          <span class="fs-sm text-muted">Strategic Advisor at Company LLC</span>
                        </div>
                      </figcaption>
                    </figure>
                  </div></div>

                <!-- Pagination (bullets) -->
                <div class="swiper-pagination position-relative mt-5 swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
              <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>        
            </div>
          </div>
        </div>
      </section>



      <!-- Team -->
      <section class="container py-5 my-md-3 my-lg-5">
        <h2 class="h1 text-center pt-1 pb-3 mb-3 mb-lg-4">Наша команда</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">

          <!-- Item -->
          <div class="col">
            <div class="card card-hover border-0 bg-transparent">
              <div class="position-relative">
                <img src="./About v.1_files/01(1).jpg" class="rounded-3" alt="name-1">
                <div class="card-body text-center p-3">
                  <h3 class="fs-lg fw-semibold pt-1 mb-2">Jenny Wilson</h3>
                  <p class="fs-sm mb-0">Co-Founder &amp; CEO</p>
              </div>
            </div>
          </div>
         </div>
        </div>
      </section>


      <!-- Contact CTA -->
      {% include 'contact_box.html' %}


      <!-- Social networks (Carousel on narrow screens) -->
      <section class="container text-center py-5 my-2 my-md-4 my-lg-5">
        <h2 class="h1 mb-4">У нас есть социальные сети</h2>
        <p class="fs-lg text-muted pb-2 mb-5">Подписывайтесь на нас и будьте в курсе самых свежих новостей!</p>
        <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden" data-swiper-options="{
          &quot;slidesPerView&quot;: 2,
          &quot;pagination&quot;: {
            &quot;el&quot;: &quot;.swiper-pagination&quot;,
            &quot;clickable&quot;: true
          },
          &quot;breakpoints&quot;: {
            &quot;500&quot;: {
              &quot;slidesPerView&quot;: 3
            },
            &quot;650&quot;: {
              &quot;slidesPerView&quot;: 4
            },
            &quot;900&quot;: {
              &quot;slidesPerView&quot;: 5
            },
            &quot;1100&quot;: {
              &quot;slidesPerView&quot;: 6
            }
          }
        }">
          <div class="swiper-wrapper" id="swiper-wrapper-3e1a323a923bac7f" aria-live="polite">

            <!-- Item -->
            <div class="swiper-slide swiper-slide-active" style="width: 216px;" role="group" aria-label="1 / 6">
              <div class="position-relative text-center border-end mx-n1">
                <a href="https://silicon.createx.studio/about-v1.html#" class="btn btn-icon btn-secondary btn-facebook btn-lg stretched-link" aria-label="Facebook">
                  <i class="bx bxl-facebook"></i>
                </a>
                <div class="pt-4">
                  <h6 class="mb-1">Facebook</h6>
                  <p class="fs-sm text-muted mb-0">silicon</p>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide swiper-slide-next" style="width: 216px;" role="group" aria-label="2 / 6">
              <div class="position-relative text-center border-end mx-n1">
                <a href="https://silicon.createx.studio/about-v1.html#" class="btn btn-icon btn-secondary btn-instagram btn-lg stretched-link" aria-label="Instagram">
                  <i class="bx bxl-instagram"></i>
                </a>
                <div class="pt-4">
                  <h6 class="mb-1">Instagram</h6>
                  <p class="fs-sm text-muted mb-0">@silicon</p>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide" style="width: 216px;" role="group" aria-label="3 / 6">
              <div class="position-relative text-center border-end mx-n1">
                <a href="https://silicon.createx.studio/about-v1.html#" class="btn btn-icon btn-secondary btn-twitter btn-lg stretched-link" aria-label="Twitter">
                  <i class="bx bxl-twitter"></i>
                </a>
                <div class="pt-4">
                  <h6 class="mb-1">Twitter</h6>
                  <p class="fs-sm text-muted mb-0">@silicon</p>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide" style="width: 216px;" role="group" aria-label="4 / 6">
              <div class="position-relative text-center border-end mx-n1">
                <a href="https://silicon.createx.studio/about-v1.html#" class="btn btn-icon btn-secondary btn-linkedin btn-lg stretched-link" aria-label="LinkedIn">
                  <i class="bx bxl-linkedin"></i>
                </a>
                <div class="pt-4">
                  <h6 class="mb-1">LinkedIn</h6>
                  <p class="fs-sm text-muted mb-0">Silicon Inc.</p>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide" style="width: 216px;" role="group" aria-label="5 / 6">
              <div class="position-relative text-center border-end mx-n1">
                <a href="https://silicon.createx.studio/about-v1.html#" class="btn btn-icon btn-secondary btn-youtube btn-lg stretched-link" aria-label="Twitter">
                  <i class="bx bxl-youtube"></i>
                </a>
                <div class="pt-4">
                  <h6 class="mb-1">YouTube</h6>
                  <p class="fs-sm text-muted mb-0">Silicon</p>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide" role="group" aria-label="6 / 6" style="width: 216px;">
              <div class="position-relative text-center border-end mx-n1">
                <a href="https://silicon.createx.studio/about-v1.html#" class="btn btn-icon btn-secondary btn-dribbble btn-lg stretched-link" aria-label="Dribbble">
                  <i class="bx bxl-dribbble"></i>
                </a>
                <div class="pt-4">
                  <h6 class="mb-1">Dribbble</h6>
                  <p class="fs-sm text-muted mb-0">Silicon</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Pagination (bullets) -->
          <div class="swiper-pagination position-relative bottom-0 pt-3 mt-4 swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-lock"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
      </section>
{% endblock %}