{% load static %}

<!--Contact cta -->
      <div class="bg-secondary mb-5 pt-5">
        <section class="container pt-3 pb-4 pb-md-5" style="margin-top: -156px; margin-bottom: 120px; transform: translateY(156px);">
          <div class="card border-0 bg-gradient-primary">
            <div class="card-body p-md-5 p-4 bg-size-cover" style="background-image: url({% static 'contacts/images/contact-bg.png' %})">
              <div class="py-md-5 py-4 text-center">
                <h3 class="h4 fw-normal text-light opacity-75">Хотите работать с нами? Давайте поговорим</h3>
                <a href="mailto:email@example.com" class="display-6 text-light">email@example.com</a>
                <div class="pt-md-5 pt-4 pb-md-2">
                  <a href="" class="btn btn-lg btn-light">Связаться</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>